/** {*/
/*    -fx-border-radius: 1px;*/
/*    -fx-border-color: black;*/
/*}*/
* {
    -fx-border-insets: 2px;
    -fx-background-insets: 2px;
}

#ExoticMovesTitle {
    -fx-font-size: 40;
    -fx-font-family: "Verdana";
}

Text, CheckBox {
    -fx-font-size: 14;
}

VBox, HBox {
    -fx-padding: 5px;
}

.invalid-input {
    -fx-background-color: #FFCCCB;
}

.filter-box {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0,0);
    -fx-background-color: white;
    -fx-background-insets: 10;
    -fx-background-radius: 10;
    -fx-padding: 17px;
}